<?xml version="1.0"?>
<config>
    <modules>
        <Mjsi_Orderprint>
            <version>0.1.2</version>
        </Mjsi_Orderprint>
    </modules>
    <admin>
        <routers>
			<orderprint>
				<use>admin</use>
				<args>
					<module>Mjsi_Orderprint</module>
					<frontName>orderprint</frontName>
				</args>
			</orderprint>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<orderprint>
					<file>orderprint.xml</file>
				</orderprint>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<blocks>
	    	<adminhtml>
	    		<rewrite>
	    			<sales_order_view>Mjsi_Orderprint_Block_Sales_Order_View</sales_order_view>
	    		</rewrite>
	    	</adminhtml>
    	</blocks>
		<rewrite>
            <Mjsi_Orderprint_OrderController>
                <from><![CDATA[#/\w+/sales_order/print/#]]></from>
                <to>/orderprint/order/print/</to>
            </Mjsi_Orderprint_OrderController>
			<Mjsi_Orderprint_MultiprintController>
                <from><![CDATA[#/\w+/sales_order/massPrintSalesOrders/#]]></from>
                <to>/orderprint/multiprint/massPrintSalesOrders/</to>
            </Mjsi_Orderprint_MultiprintController>
        </rewrite>
        <models>
            <orderprint>
                <class>Mjsi_Orderprint_Model</class>
                <resourceModel>orderprint_mysql4</resourceModel>
            </orderprint>
            <orderprint_mysql4>
                <class>Mjsi_Orderprint_Model_Mysql4</class>
                <entities>
                    <orderprint>
                        <table>orderprint</table>
                    </orderprint>
                </entities>
            </orderprint_mysql4>
        </models>
		<pdf>
        	<order>
        		<default>orderprint/order_pdf_items_order_default</default>
                <grouped>orderprint/order_pdf_items_order_grouped</grouped>
        	</order>
        </pdf>
        <resources>
            <orderprint_setup>
                <setup>
                    <module>Mjsi_Orderprint</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderprint_setup>
            <orderprint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderprint_write>
            <orderprint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderprint_read>
        </resources>
        <blocks>
            <orderprint>
                <class>Mjsi_Orderprint_Block</class>
            </orderprint>
        </blocks>
        <helpers>
            <orderprint>
                <class>Mjsi_Orderprint_Helper</class>
            </orderprint>
        </helpers>
    </global>
</config>